@model System.Data.DataTable
@{
    ViewBag.Title = "Membres";
}

<h2>Liste des Membres</h2>
<br />
<p><a href="@Url.Action("CreateMembres", "Livres")">Ajouter un nouveau membre</a></p>
<br />

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Prenom</th>
            <th scope="col">Nom</th>
            <th scope="col">Courriel</th>
            <th scope="col">Telephone</th>
            <th scope="col">Modifier</th>
            <th scope="col">Suprimer</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Rows.Count; i++)
        {
            <tr>
                <td>@Model.Rows[i][0]</td>
                <td>@Model.Rows[i][1]</td>
                <td>@Model.Rows[i][2]</td>
                <td>@Model.Rows[i][3]</td>
                <td>@Model.Rows[i][4]</td>
                <td>
                    <a href="@Url.Action("EditMembres", "Livres", new { @id = Model.Rows[i][0]})"><img src="~/Content/Image/Modifier.png" alt="Modifier" width="10" height="10" /></a>
                </td>
                <td>
                    <a href="@Url.Action("DeleteMembres", "Livres", new { @id = Model.Rows[i][0]})"><img src="~/Content/Image/Suprimer.png" alt="Suprimer" width="10" height="10" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>